<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usamabennadeemspeechix.usama.speechix">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addNewScript.AddNewScriptActivity"
            android:label="@string/title_activity_add_new_script"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".editScript.EditScriptActivity"
            android:label="@string/title_activity_edit_script"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".readScript.ReadFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_read_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".authentication.AuthenticationActivity" />
        <activity
            android:name=".readScript.ReadNavDrActivity"
            android:label="@string/title_activity_read_nav_dr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".authentication.ForgotPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity
            android:name=".readScript.ReadFullscreenCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_read_fullscreen_camera"
            android:theme="@style/FullscreenTheme"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f3c683154bd99db6f633ede480db2556c8478fff" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>